@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
:root {
  --ff: Oswald, sans-serif;
  --ff__light: 300;
  --fw__medium: 400;
  --fw__bold: 700;
  --green: #06d6a0;
  --white: #fffcf9;
  --grey1: #f8f9fa;
  --grey2: #e9ecef;
  --grey3: #dee2e6;
  --grey4: #ced4da;
  --grey5: #adb5bd;
  --grey6: #6c757d;
  --grey7: #495057;
  --grey8: #343a40;
  --grey9: #212529;
}

body {
  background-color: var(--grey1);
  color: var(--grey7);
  font-family: var(--ff);
}
.container {
  align-items: center;
  background-color: var(--grey2);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  > * {
    width: 100%;
    padding: 1rem;
  }
}
h2 {
  align-self: center;
  justify-self: center;
  border-bottom: 6px solid var(--grey6);
  color: var(--grey6);
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  margin-bottom: 4rem;
  max-width: 600px;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#navbar {
  align-items: center;
  background-color: var(--grey7);
  display: flex;
  justify-content: center;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  ul {
    display: flex;
    max-width: 1280px;
    width: 100%;
    li {
      list-style: none;
      a {
        align-items: center;
        color: var(--grey3);
        display: flex;
        font-size: 1rem;
        font-weight: var(--fw__bold);
        justify-content: center;
        letter-spacing: 0.25rem;
        padding: 2rem 3rem;
        text-align: left;
        text-decoration: none;
        transition: background-color 1s;
        width: calc(100vw / 3);
        @media (min-width: 1280px) {
          width: calc(1280px / 3);
        }
        &:hover {
          background-color: var(--grey8);
          color: var(--grey4);
        }
      }
    }
  }
}

#welcome-section {
  align-items: center;
  background-color: var(--grey6);
  color: var(--grey3);
  display: flex;
  height: 100vh;
  justify-content: center;
  @media (min-width: 50em) {
    padding: 0 5rem;
  }
  h1 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: 0.25rem;
    padding-top: 1rem;
    text-align: center;
    // text-shadow: 2px 2px 5px rgba(13, 13, 13, 1);
    text-transform: uppercase;
    @media (min-width: 900px) {
      font-size: 4rem;
      line-height: 6rem;
    }
    .welcome {
      display: block;
    }
  }
}

#projects-section,
#social-section,
#footer-section {
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  text-align: center;
}
#projects-section {
  background-color: var(--grey4);
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}
#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  padding: 0 1.2rem;
  max-width: 1280px;
  width: 100%;
  > * {
    width: 100%;
  }
  a {
    color: var(--grey2);
    letter-spacing: 0.18rem;
    text-decoration: none;
    text-transform: lowercase;
  }
}
.project-tile {
  background-color: var(--grey8);
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
  padding: 2.4rem 1rem;
  width: 100%;
  @media (min-width: 600px) {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  img {
    border: 10px solid var(--grey7);
  }
}
.project-title {
  padding: 1rem 0;
  a {
    color: inherit;
    text-decoration: none;
  }
}

#social-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--grey5);
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  h2 {
    max-width: 1280px;
  }
}
.social-icons {
  display: flex;
  justify-content: space-evenly;
  max-width: 1280px;
  width: 100%;
}
.social-icon {
  font-size: 4.8rem;
  width: 25%;
  a {
    color: var(--grey2);
    transition: color 0.6s;
    &:hover {
      color: var(--grey8);
    }
  }
}
#footer-section {
  background-color: var(--grey7);
  color: var(--grey2);
  justify-content: center;
  letter-spacing: 0.05rem;
  text-transform: lowercase;
  a {
    color: var(--grey9);
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid var(--grey9);
    }
  }
}
